.audio-container {
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.audio-item {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 20px;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 25px;
  font-family: 'Rubik', sans-serif;
  margin-top: -3px;
}

audio {
  margin: 0 auto;
  display: inline-block;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

body {
  min-width: 300px;
  min-height: 600px;
}
.column {
  float: center;
  width: 50%;
  padding: 10px;
  height: 250px;
}


.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
