.audio-container {
    text-align: right;
    display: inline-block;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.audio-item {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 20px;
}